 #body-container {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #e0e2e5;
}

form div {
  margin: 1em;
}

/* .navbar-container{
  background-color: #dee1e3;
}

.nav-item {
  margin: 1em;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
} */

/* .nav-item :hover {
  color: #004d84;
} */

/* .App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 7%;
  padding: 2em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

.stage-container {
  position: relative;
}

.Stage {
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 3;
  top: -300px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.snippet {
  z-index: 0;
  position: relative;
  clip-path: inset(330px 0px 0px 0px);
  top: -300px;
  bottom: -150px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.submit-button {
  top: 150px;
  position: relative;
  margin-bottom: 100px;
}

.Stage-no-snippet {
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 3;
  top: 100px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dwg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.profile-picture img {
  width: 100px;
  height: 150px;
}

.profile-info {
  padding: 10px;
  text-align: left;
}

.slide {
  margin: 0 auto;
  height: 60em;
  width: 35em;
  object-fit: fill;
}

.img-slide{
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

#myCarousel {
  text-decoration: none;
  height: 53em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.carousel-item {
  width: 200px;
  height: 400px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.dwg-container {
  padding-bottom: 5em;
  padding-top: 2em;
}

#navlist {
  flex-direction: row;
  margin: 0;
  padding: 0;
  color: black;
}

#navlist .container-fluid {
  flex-wrap: nowrap;
  background-color: #5d6268;
  font-size: 18px;
  margin: 0;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#page-header {
  display: flex;
  justify-content: center;
  background-color: #33363a;
  margin: 0;
  padding: 40px;
  font-weight: bold;
  color: ghostwhite;
  letter-spacing: 3px;
}

#page-header h1 {
  font-size: 40px;
}

#logoutPadding {
  padding-left: 2em;
}

#body-container a {
  color: ghostwhite;
  text-decoration: none;
}

#new-game-form {
  font-size: 16px;
  display: block;
  justify-content: center;
  width: 400px;
  left: 700px;
}

#snippet img {
  left: 370px;
}

#main-container h1, h2 {
  display: flex;
  justify-content: center;
  color: black;
}

#main-container h3 {
  display: flex;
  justify-content: center;
  color: black;
}

#main-container {
  display: block;
  justify-content: center;
  padding-top: 30px;
}

#submit-button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 680px;

}

#panel-cont {
  padding-bottom: 100px;
}

#snippet {
  background-color: white;
}

#button {
  font-size: 20px;
  padding: 50px;
  margin: 10px;
  /* border: 1px solid blue; */
}

#signingup {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  border: 1px solid red;
  /* left: 600px; */


}
#span-buttons  {
  display: flex;
  justify-content: center;
}

#signingup Button, span {
  padding: 10px;
}
