 #body-container {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #e0e2e5;
  text-decoration: none;
  text-align: center;
}

#allmy-header{
  margin-top: 1em;
  align-content: center;
  justify-content: center;
  text-align: center;
}

form div {
  margin: 1em;
}

#eraser{
  margin-bottom: 2em;
}

#gallery-header{
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

#panel-header {
  padding-top: 3em;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.drawing-buttons{
  align-content: center;
  justify-content: center;
  text-align: center;
}

.Stage {
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 3;
  top: -300px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.Stage-no-snippet {
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 3;
  top: 100px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.snippet {
  z-index: 0;
  position: relative;
  clip-path: inset(330px 0px 0px 0px);
  top: -300px;
  bottom: -150px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.submit-button {
  margin: 5em;
  position: relative;
}


.dwg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.profile-picture img {
  width: 100px;
  height: 150px;
}

.profile-info {
  padding: 10px;
  text-align: left;
}

.slide {
  margin: 0 auto;
  height: 60em;
  width: 35em;
  object-fit: fill;
}

.img-slide{
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

#myCarousel{
  margin-top: 4em;
}

.carousel-indicators{
  cursor: default;
  pointer-events: none;
}

.carousel-inner > .item > img{
margin:auto;
width:100%
}

.carousel-control.left {
  position: relative;
  left: -3em;
  top: -10em;
  width: auto;
  background-image: none;
  color: white;
}

.carousel-control.right {
  position: relative;
  right: -20em;
  top: -10em;
  width: auto;
  background-image: none;
  color: white;
}

.dwg-container {
  padding-bottom: 5em;
  padding-top: 2em;
}


.panel-buttons-snippet{
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 3;
  top: -280px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.panel-buttons-no-snippet{
  margin-top: 13em;
  position: relative;
}


#logo-small{
  /*z-index: 9999;*/
  width:  300px;
}

#page-header {
  display: flex;
  justify-content: center;
  background-color: #33363a;
  margin: 0;
  padding: 40px;
  font-weight: bold;
  color: ghostwhite;
  letter-spacing: 3px;
}

#page-header h1 {
  font-size: 40px;
}

#logoutPadding {
  padding-left: 2em;
}


.friendReqs{
  margin: 2em;
}
.myFriends{
  margin: 2em;
}



#main-container-profile {
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#friends-container-profile {
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#main-container-wips {
 margin: 3em;
}

#main-container-bodylinks {
 margin: 3em;
}

#main-container h1, h2 {
  display: flex;
  justify-content: center;
  color: black;
}

#main-container h3 {
  display: flex;
  justify-content: center;
  color: black;
}

#main-container {
  display: block;
  justify-content: center;
  padding-top: 30px;
}

#submit-button {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top:5em ;
}

.aprvDecline{
  margin: 1em;
  border-radius: 50%;
}


.pencilbutton{
  margin: 1em;
  border-radius: 50%;
  background-color: #5f6e78;
  text-decoration: none;
}

#panel-cont {
  padding-bottom: 100px;
}

#snippet {
  background-color: white;
}

/*----------------------------*/

  #landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1em auto;
    font-size: 16px;
    width: 100vw;
  }
  #signinup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 2em;
    border-top: 1px solid white;
    font-size: 18px;
  }
  #google-auth button{
    font-size: 18px;
  }
  #auth-container button{
    font-size: 18px;
  }



#main-container-landing {
  background: linear-gradient(to bottom right, #4665C9, yellow);
  height: 100%;
  min-height: 100vh;
}

.signinup-form-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signinup-form-item p{
  font-size: 14px;
  margin-right: .5em;
}
.signinup-form-item input {
  width: 210px;
}

/*----------------------------*/
#radioButtons {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  color: white;
  /*margin-left: 2em;*/
}
#radioLogin {
  width: 50%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#radioSignup {
  width: 50%;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.authtrue{
  background-color: #4665C9;
}
.authfalse{
  background-color: #A7A5C6;
  color: #4665C9;
}
.authfalse:hover {
  color: #d7e02f;
}
/*----------------------------*/

#create-game-bttn {
  margin: 3em;
}

#new-game-form {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
}

#create-game-bttn {
  font-size: 16px;
}

#main-container-bodylinks {
  margin-top: 2em;
  color: black;
}

#main-container a {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 30px;
  text-decoration: underline;

}

.list-group {
  color: black;
  text-decoration-style: none;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#search-container a {
  color: black;
  text-decoration: none;
  text-align: center;
}

#user-header {
  margin: 3em;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#search-cols{
  margin: 5em;
  justify-content: center;
  align-content: center;
}


.App a{
  text-align: center;
  text-decoration: none;
}

#root a{
  text-align: center;
  text-decoration: none;
}

#you-dont-have-gallery{
  margin-top: 3em;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: black;
}

